.container{ 
    height: 100vh;
}

form#ios input[type=password]{
    height: 50px;
    width: 40px;
    text-align: center;
    font-size: 2em;
    border: 1px solid #000;
    margin: 5px;
}



/* numpad */

.numpad {
    width: 420px;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
  }
  
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 33.3333%;
    background-color: #f9a03f;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.25);
  }
  .button:nth-of-type(10) {
    flex-basis: 66.6667%;
  }
  .button:hover {
    background-color: #f89426;
  }